:host {
  display: flex;
  padding: 10px;
  border: solid 1px #999;
  border-radius: 8px;
  gap: 10px;
  flex-direction: column;
  margin-left: 10px;
}

div.content,
div.company,
div.button {
  display: flex;
  justify-content: space-between;
}

div.content {
  color: black;
}

div.button button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

div.button .addcart {
  background-color: #007bff;
  color: white;
}
