<app-search></app-search>

<div class="container">
  <app-product-card
    id="1"
    [productName]="productName"
    [authors]="authors"
    [company]="company"
    [imgUrl]="imgUrl"
    [price]="price"
  ></app-product-card>
  <app-product-card
    id="1"
    [productName]="productName"
    [authors]="authors"
    [company]="company"
    [imgUrl]="imgUrl"
    [price]="price"
  ></app-product-card>
  <app-product-card
    id="1"
    [productName]="productName"
    [authors]="authors"
    [company]="company"
    [imgUrl]="imgUrl"
    [price]="price"
  ></app-product-card>
  <app-product-card
    id="1"
    [productName]="productName"
    [authors]="authors"
    [company]="company"
    [imgUrl]="imgUrl"
    [price]="price"
  ></app-product-card>
  <app-product-card
    id="1"
    [productName]="productName"
    [authors]="authors"
    [company]="company"
    [imgUrl]="imgUrl"
    [price]="price"
  ></app-product-card>
</div>
